# Python Virtual Environment & Cache
.venv/
__pycache__/
.pytest_cache
*.egg-info
*.swp

# CDK
.cdk.staging
cdk.out/
cdk.context.json

# Node
package-lock.json

# Local Scripts
source.bat

# macOS System File
.DS_Store